<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    
    
    <!--  <span>HOME</span> -->
    <a mat-button routerLink="/">HOME</a>
    <span class="spacer"></span>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
     <a mat-button routeLink="/cart">
      <li text-upparcase position-relative style="text-decoration: none; list-style: none; top: -6px; position: absolute;  ">
      <mat-icon >add_shopping_cart</mat-icon><span  style="border-radius: 50%; background-color: #418deb; font-size: 0.6rem;">+5</span></li></a>
     
    
       
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="example-sidenav" #sidenav mode="over">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/login'"> Login </a>
      <a mat-list-item [routerLink]="'/register'"> Register </a>
      <a mat-list-item [routerLink]="'/product'"> Product </a>
      <a mat-list-item [routerLink]="'/productDomain'"> Product Domain </a>
      <a mat-list-item [routerLink]="'/edit'" *ngIf="userService.getId() == 1">Edit</a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
